{% extends "layout.njk" %}

{% block head %}
<head>
    <link rel="icon" href="/favicon.jpg" type="image/x-icon" />
    <title>Challenge - Sobre</title>
    <link rel="stylesheet" href="/styles.css">
</head>
{% endblock %}

{% block content %}
<div id="content">
    <img src="{{about.image}}" alt="Imagem de {{about.name}}">
    <h1>{{about.name}}</h1>
    <h2>{{about.description}}</h2>
    <ul>
        {% for technologie in about.technologies %}
        <li>{{technologie.name}}</li>
        {% endfor %}
    </ul> 
</div>

{% endblock %}

{% block footer %}
    {% include "parts/footer.njk" %}
{% endblock %}