{% extends "layout.njk" %}

{% block head %} 
    <link rel="icon" href="/favicon.jpg" type="image/x-icon" />
    <title>Erro - 404</title>
    <link rel="stylesheet" href="/styles.css">
{% endblock %}

{% block content %}
<div id="content">
    <img src="/logo.jpg" alt="">
    <h1>Rocketseat</h1>
    <h2>ERRO 404 - PAGINA NÃO ENCONTARDA</h2>
</div>
{% endblock %}