<div id="footer" class="menu">
    <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
    <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
    <a href="https://pt-br.facebook.com/rocketseat/" target="_blank">Facebook</a>

    <div class="footer-box">
        <h3>Endereço da empresa (Residencial Acalanto - R. Guilherme Gemballa, 260 - Sala 3 - 
            Jardim América, Rio do Sul - SC, 89160-188)</h3>
        <h3>Direitos autorais (Rocketseat © 2020 - Todos os direitos reservados).</h3>
    </div>
</div>